@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&family=Sacramento&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(110deg, #02010a 70%, #ff7300 60%) no-repeat;
  background-attachment: fixed;
  color: #fff;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  body {
    background: linear-gradient(108deg, #02010a 60%, #ff7300 60%) no-repeat;
    background-attachment: fixed;
    color: #fff;
    min-height: 100vh;
  }
}
/* 02010A 22007C 140152 04052E*/
